{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="dashboard-body">
    <header class="dashboard-header">
        <h2>Work<span>Desk<i class="ri-circle-fill dot"></i></span></h2>
    </header>
    <div class="layout">
        <aside class="dashboard-sidebar">
            <nav class="dashboard-nav">
                <ul>
                    <li>
                        <i class="ri-dashboard-fill"></i>
                        <a href="#">Dashboard</a>
                    </li>
                    <li>
                        <i class="ri-list-check-3"></i>
                        <a href="{% url 'task'%}">Tasks</a>
                    </li>
                    <li>
                        <i class="ri-user-fill"></i>
                        <a href="{% url 'technicians'%}">Technicians</a>
                    </li>
                    <li>
                        <i class="ri-article-line"></i>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="dashboard-main">
        <section class="time">
            <h1>Today</h1>
            <span>{{date_today}} | {{time_today}}</span>
        </section>
        <section>
            <div class="box-container">
                <div class="box">
                    <div class="text">
                        <h1>Total Task</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if total_tasks %}
                            <h2>{{ total_tasks }}</h2>
                            <i class="fa-solid fa-folder"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="fa-solid fa-folder"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="box">
                    <div class="text">
                        <h1>Completed</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if completed_tasks %}
                            <h2>{{ completed_tasks }}</h2>
                            <i class="fa-solid fa-check"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="fa-solid fa-check"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="box">
                    <div class="text">
                        <h1>In-progess</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if in_progress_tasks %}
                            <h2>{{ in_progress_tasks }}</h2>
                            <i class="fa-solid fa-clock-rotate-left"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="fa-solid fa-clock-rotate-left"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="box">
                    <div class="text">
                        <h1>Backlog</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if backlog_tasks %}
                            <h2>{{ backlog_tasks }}</h2>
                            <i class="fa-solid fa-bars-progress"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="fa-solid fa-bars-progress"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="task-todo">
            <div class="recent-task">
                <h2>Recent Task</h2>
                {% for task in tasks %}
                    <div class="task-card" style="cursor: pointer;" onclick="location.href='{% url 'task_detail' task.task_id admin.role %}'">
                        <p>{{ task.title }}</p>
                        <div class="task-card-footer">
                            <div class="task-card-technician">
                                <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                                <span class="technician">{{ task.technician_name|truncatewords:1}}</span>
                            </div>
                            <div class="task-card-details">
                                <span class="priority">{{ task.priority }}</span>
                                <span class="date">{{ task.due_date|date:"M d" }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="todo">
                <h2>To Do</h2>
                <div class="todo-list">
                    {% if todo %}
                        <ul>
                            {% for item in todo %}
                                <li>{{ item.description|linebreaksbr }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    <p id="add-task-trigger" class="add-task-trigger">
                        <i class="ri-add-line"></i> <span>Add Card</span>
                    </p>
                    <div id="add-task-form" class="add-task-form" style="display:none;">
                        <form method="post" action="{% url 'add_todo' %}">
                            {% csrf_token %}
                            <textarea name="description" placeholder="Enter description" required></textarea>
                            <div class="close-todo">
                                <input type="submit" value="Add Card">
                                <span class="close-add-task" onclick="closeAddTaskForm()">&times;</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="unav-tech">
                <h2>Unavailable Technicians</h2>
                {% if technician.status == 'unavailable' %}
                    {% for technician in technicians %}
                        <div class="unav">
                            <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                            <p>{{technician.name}}</p>
                        </div>
                     {% endfor %}
                {% else %}
                    <div class="unav">
                        <p>All technicians are available</p>
                    </div>
                {% endif %}
            </div>
        </section>
    </main>
    <script src="{% static 'js/todo.js' %}"></script>
</body>
</html>