{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="login-body">
    {% for message in messages %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <div class="login">
        <h2>Welcome Back</h2>
        <form class="login-form" action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <label>
                Email
            </label><br>
            <input type="email" name="email" id="email" placeholder="EMAIL" required><br>
            <label >
                Password
            </label><br>
            <input type="password" name="password" id="password" placeholder="PASSWORD" required><br>
            <label for="role">Select Role:
                <select name="role" id="role" required>
                    <option value="" disabled selected>Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="technician">Technician</option>
                </select><br>
            </label>
            <div class="login-btn">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    <div class="login-footer">
        <p>WorkDesk</p>
        <h2>Take your productivity to the next level</h2>
        <span>Copyright 2025 | All right Reserverd</span>
    </div>
    <script src="{% static 'js/message.js' %}"></script>
</body>
</html>