{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="task-detail-body">
    <header class="task-detail-header">
        <h2> WorkDesk</h2>
    </header>
    <main class="task-detail-main">
        <div class="task-detail-card">
            <h2>
                Task {{task.task_id}}
            </h2>
            <div class="task-detail-icon">
                <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                <p>
                    {{task.technician_name}}
                </p>
            </div>
            <div class="task-detail-status">
                <span>Status:</span>
                <div class="status-container">
                    <i class="ri-time-fill"></i>
                    <p>{{task.status}}</p>
                </div>
            </div>
            <div class="task-detail-date">
                <div class="start-date">
                    <span> Start Date:</span>
                    <p>{{task.start_date}}</p>
                </div>
                <div class="due-date">
                    <span>Due Date:</span>
                    <p>{{task.due_date}}</p>
                </div>
            </div>
            <div class="task-detail-title">
                <span> Title: </span>
                <p>{{task.title}}</p>
            </div>
            <div class="task-detail-description">
                <span> Description </span>
                <p>{{task.description}}</p>
            </div>
            <div class="task-detail-attachments">
                <span> Attachments</span>
            </div>
        </div>
    </main>
</body>
</html>