{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="dashboard-body">
    <header class="dashboard-header">
        <h2>Work<span>Desk<i class="ri-circle-fill dot"></i></span></h2>
    </header>
    <div class="layout">
        <aside class="dashboard-sidebar">
            <nav class="dashboard-nav">
                <ul>
                    <li>
                        <i class="ri-dashboard-fill"></i>
                        <a href="{% url 'admin_dashboard'%}">Dashboard</a>
                    </li>
                    <li>
                        <i class="ri-list-check-3"></i>
                        <a href="{% url 'task'%}">Tasks</a>
                    </li>
                    <li>
                        <i class="ri-user-fill"></i>
                        <a href="{% url 'technicians'%}">Technicians</a>
                    </li>
                    <li>
                        <i class="ri-article-line"></i>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="dashboard-main">
        <div class="task-detail-container">
            <section class="task-detail-edit">
                <i class="ri-edit-box-line "></i>
                <i class="ri-delete-bin-line" onclick="window.location.href='{% url 'delete_task' task.task_id%}'"></i>
            </section>
            <section>
                <div class="task-detail-header">
                    <i class="ri-shield-check-fill"></i>
                    <div class="task-detail-title">
                        <h2>{{task.title}}</h2>
                        <h4>{{task.task_id}}</h4>
                    </div>
                </div>
            </section>
            <section>
                <div class="task-detail-status">
                    <div class="task-detail-stat">
                        <p>Status</p>
                        <span>{{task.status}}</span>
                    </div>
                    <div>
                        <p>Assignee</p>
                        <span>{{task.technician_name}}</span>
                    </div>
                </div>
            </section>
            <section>
                <div class="task-detail-date">
                    <p>Due Date</p>
                    <span>{{task.due_date}}</span>
                </div>
                <div class="task-detail-location">
                    <p>Location</p>
                    <span>SGC Bonanjo</span>
                </div>
                <div class="task-detail-body">
                    <p>Description</p>
                    <span>{{task.description}}</span>
                </div>
                <div class="task-detail-attachment">
                    <p>Attachments</p>
                    {% if task.file%}
                        <span>hey</span>
                    {% else %}
                         <div class="no-attachment">
                            <i class="ri-file-list-3-line"></i>
                            <p>No attachments yet</p>
                         </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </main>
</body>
</html>