{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="dashboard-body">
     <header class="header">
        <h2>Work<span>Desk<i class="ri-circle-fill dot"></i></span></h2>
        <h3>Tasks</h3>
    </header>
    <div class="layout">
        <aside class="dashboard-sidebar">
            <nav class="dashboard-nav">
                <ul>
                    <li>
                        <i class="ri-dashboard-fill"></i>
                        <a href="{% url 'admin_dashboard'%}">Dashboard</a>
                    </li>
                    <li>
                        <i class="ri-survey-fill"></i>
                        <a href="{% url 'task'%}">Tasks</a>
                    </li>
                    <li>
                        <i class="ri-user-fill"></i>
                        <a href="{% url 'technicians'%}">Technicians</a>
                    </li>
                    <li>
                        <i class="ri-article-line"></i>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="dashboard-main">
        <div class="task-container">
            <div class="task-header">
                <h3> Task Board [2025] ⭐</h3>
                <div class="task-selection">
                    <div class="new-task" onclick="openModal()">
                        <i class="ri-add-line"></i>
                        <span>Add Task</span>
                    </div>
                    <div class="task-filter">
                        <form action="{% url 'task'%}" method="post" class="filter-form">
                            {% csrf_token %}
                            <select name="technicians">
                                <option value="" disabled selected>Select Technician</option>
                                {% for technician in technicians %}
                                    <option value="{{ technician.name}}">
                                        {{ technician.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select name="priority" >
                                <option value="" disabled selected>Select Priority</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select>
                            <input type="submit" value="Filter" class="filter-button">
                        </form>
                    </div>
                </div>
            </div>
            <div class="task-body">
                <div class="task-box">
                    <div class="task-cards">
                        <div class="task-card-title">
                            <i class="ri-circle-fill backlog"></i>
                            <h4>Backlog</h4>
                        </div>
                        {% for task in tasks %}
                            {% if task.status == 'Not started' %}
                            <div class="task-card" style="cursor: pointer;" onclick="location.href='{% url 'task_detail' task.task_id admin.role %}'">
                                <p>{{ task.title }}</p>
                                <div class="task-card-footer">
                                    <div class="task-card-technician">
                                        <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                                        <span class="technician">{{ task.technician_name|truncatewords:1}}</span>
                                    </div>
                                    <div class="task-card-details">
                                        <span class="priority">{{ task.priority }}</span>
                                        <span class="date">{{ task.due_date|date:"M d" }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="task-cards">
                        <div class="task-card-title">
                            <i class="ri-circle-fill in-progress"></i>
                            <h4> In Progress</h4>
                        </div>
                        {% for task in tasks %}
                            {% if task.status == 'In progress' %}
                            <div class="task-card" style="cursor: pointer;" onclick="location.href='{% url 'task_detail' task.task_id admin.role %}'">
                                <p>{{ task.title }}</p>
                                <div class="task-card-footer">
                                    <div class="task-card-technician">
                                        <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                                        <span class="technician">{{ task.technician_name|truncatewords:1}}</span>
                                    </div>
                                    <div class="task-card-details">
                                        <span class="priority">{{ task.priority }}</span>
                                        <span class="date">{{ task.due_date|date:"M d" }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="task-cards">
                        <div class="task-card-title">
                            <i class="ri-circle-fill completed"></i>
                            <h4>Completed</h4>
                        </div>
                        {% for task in tasks %}
                            {% if task.status == 'Completed' %}
                            <div class="task-card" style="cursor: pointer;" onclick="location.href='{% url 'task_detail' task.task_id admin.role %}'">
                                <p>{{ task.title }}</p>
                                <div class="task-card-footer">
                                    <div class="task-card-technician">
                                        <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                                        <span class="technician">{{ task.technician_name|truncatewords:1}}</span>
                                    </div>
                                    <div class="task-card-details">
                                        <span class="priority">{{ task.priority }}</span>
                                        <span class="date">{{ task.due_date|date:"M d" }}</span>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <div id="modal" class="modal-overlay">
            <div class="modal-box">
                <i class="ri-close-fill" onclick="closeModal()"></i>
                <h2>Create Task</h2>
                <form action="{% url 'assign_task' %}" method="post" class="task-form">
                    {% csrf_token %}
                    <label for="title">Task Title</label><br>
                    <input type="text" name="title" id="title" required><br>
                    <div class="task-priority">
                        <div>
                            <label for="priority">Task Priority</label><br>
                            <select name="priority" id="priority" required>
                                <option value="" disabled selected>Select Priority</option>
                                <option value="High">High</option>
                                <option value="Medium">Medium</option>
                                <option value="Low">Low</option>
                            </select><br>
                        </div>
                        <div>
                            <label for="due_date">Due Date</label><br>
                            <input type="date" name="due_date"  required><br>
                        </div>
                    </div>
                    <label for="technician">Assign Technician:</label><br>
                    <select name="technician" id="technician" required>
                        <option value="" disabled selected>Select Technician</option>
                        {% for technician in technicians %}
                            <option value="{{ technician.name }}">{{ technician.name }}</option>
                        {% endfor %}
                    </select><br>

                    <label for="description">Task Description</label><br>
                    <textarea name="description" id="description" placeholder="Task description" required></textarea><br>
                    <div class="task-submit">
                        <input type="submit" value="Create Task">
                    </div>
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js/modal.js' %}"></script>
</body>
</html>