{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="general-body">
    <div class="layout">
        <aside class="sidebar">
            <h2>WorkDesk</h2>
            <nav class="nav">
                <ul>
                    <li>
                        <i class="ri-dashboard-fill"></i>
                        <a href="{% url 'admin_dashboard'%}">Dashboard</a>
                    </li>
                    <li>
                        <i class="ri-list-check-3"></i>
                        <a href="{% url 'task'%}">Tasks</a>
                    </li>
                    <li>
                        <i class="ri-user-fill"></i>
                        <a href="{% url 'technicians'%}">Technicians</a>
                    </li>
                    <li>
                        <i class="ri-article-line"></i>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="task-main">
        <a href="{% url 'assign_task'%}"> Assign Task</a>
        <form action="task" method="post" class="task-filter">
            {% csrf_token %}
            <label ><input type="checkbox" name="filter" value="Not started" >Not started</label>
            <label ><input type="checkbox" name="filter" value="In-progess" >In-progress</label>
            <label ><input type="checkbox" name="filter" value="Completed" >Completed</label>
            <label>
                Select Technicians
                <select name="technicians" >
                    <option value="" selected disabled>All Technicians</option>
                    {% for tech in technicians%}
                    <option value="{{tech.name}}" >{{tech.name}}</option>
                    {% endfor %}
                </select>
            </label>
            <input type="submit" value="Filter" class="filter-btn">
        </form>
        <h2>Task History</h2>
        <table>
            <thead>
                <tr>
                    <th>Task_id</th>
                    <th>Title</th>
                    <th>Technician name</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>Due Date</th>
                </tr>
            </thead>
           <tbody>
                {% if tasks %}
                    {% for task in tasks %}
                    <tr onclick="window.location.href='{% url 'task_detail' task.pk admin.role %}';" style="cursor: pointer;">
                        <td>{{ task.task_id }}</td>
                        <td>{{ task.title }}</td>
                        <td>{{ task.technician_name }}</td>
                        <td class="status {{ task.status|lower|slugify }}">{{ task.status }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.due_date }}</td>
                    </tr> 
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" style="text-align: center;">No task given</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </main>
</body>
</html>