{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="general-body">
    <div class="layout">
        <aside class="sidebar">
            <h2>WorkDesk</h2>
            <nav class="nav">
                <ul>
                    <li>
                        <i class="ri-dashboard-fill"></i>
                        <a href="{% url 'admin_dashboard'%}">Dashboard</a>
                    </li>
                    <li>
                        <i class="ri-list-check-3"></i>
                        <a href="{% url 'task'%}">Tasks</a>
                    </li>
                    <li>
                        <i class="ri-user-fill"></i>
                        <a href="{% url 'technicians'%}">Technicians</a>
                    </li>
                    <li>
                        <i class="ri-article-line"></i>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="technicians-main">
        <div class="cards">
            {% for tech in technicians %}
            <div class="card">
                <div class="card-info">
                    <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                    <div>
                        <p>{{tech.name}}</p>
                        <p>{{tech.role}}</p>
                    </div>
                </div>
                <div class="card-fill">
                    <div class="card-contact">
                        <i class="ri-phone-fill"></i>
                        <p>{{tech.contact}}</p>
                    </div>
                    <div class="card-status">
                        <i class="ri-sun-fill"></i>
                        <p>{{tech.status}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>