{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="tech-body">
    <header class="tech-header">
        <h2>WorkDesk</h2>
        <div class="toogle-menu">
            <i class="ri-menu-line nav_toogle_menu"></i>
            <i class="ri-close-line nav_toogle_close"></i>
        </div>
    </header>
    <main>
        <div class="tech-profile">
            <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
            <div> 
                <h3>{{ technicians.name }}</h3>
                <p>Field Technician</p>
            </div>
        </div>
        <div class="box-container">
            <div class="boxes">
                <div class="box">
                    <i class="ri-bill-fill"></i>
                    <div >
                        <h4>15</h4>
                        <p>Open Task</p>
                    </div>
                </div>
                <div class="box">
                    <i class="ri-time-fill"></i>
                    <div >
                        <h4>15</h4>
                        <p>Pending</p>
                    </div>
                </div>
                <div class="box">
                    <i class="ri-play-circle-fill"></i>
                    <div >
                        <h4>15</h4>
                        <p>In-progess</p>
                    </div>
                </div>
                <div class="box">
                    <i class="ri-chat-check-fill"></i>
                    <div >
                        <h4>15</h4>
                        <p>Completed</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <h5>Task List</h5>
    <div class="task-container">
        <div class="task-cards">
            {% for task in tasks %}
            <div class="task-card" onclick="window.location.href='{% url 'task_detail' task.pk technicians.role %}';" style="cursor: pointer;">
                <div class="task-info">
                    <div class="task-id">
                        <p>{{task.task_id}}</p>
                        <p>{{task.title}}</p>
                    </div>
                    <h4>{{task.status}}</h4>
                </div>
                <div>
                    <p>{{task.due_date}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>