{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servitel WorkDesk</title>
    <link href="{% static 'header icons/servitel-logo.png'  %}" rel="icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body class="dashboard-body">
    <header class="dashboard-header">
        <h2>Work<span>Desk<i class="ri-circle-fill dot"></i></span></h2>
    </header>
    <div class="layout">
        <aside class="dashboard-sidebar">
            <nav class="dashboard-nav">
                <ul>
                    <li>
                        <i class="ri-dashboard-fill"></i>
                        <a href="{% url 'admin_dashboard'%}">Dashboard</a>
                    </li>
                    <li>
                        <i class="ri-list-check-3"></i>
                        <a href="{% url 'task'%}">Tasks</a>
                    </li>
                    <li>
                        <i class="ri-user-fill"></i>
                        <a href="{% url 'technicians'%}">Technicians</a>
                    </li>
                    <li>
                        <i class="ri-article-line"></i>
                        <a href="#">Reports</a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <main class="dashboard-main">
        <section>
            <div class="box-container">
                <div class="box">
                    <div class="text">
                        <h1>Total Technicians</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if total_technicians %}
                            <h2>{{ total_technicians }}</h2>
                            <i class="ri-team-fill"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="ri-team-fill"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="box">
                    <div class="text">
                        <h1>Available Technicians</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if available_technicians %}
                            <h2>{{ available_technicians }}</h2>
                            <i class="ri-user-follow-fill"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="ri-user-follow-fill"></i>
                        {% endif %}
                    </div>
                </div>
                <div class="box">
                    <div class="text">
                        <h1>Unavailable Technicians</h1>
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </div>
                    <div class="icon">
                        {% if unavailable_technicians %}
                            <h2>{{ unavailable_technicians }}</h2>
                            <i class="ri-user-unfollow-fill"></i>
                        {% else %}
                            <h2>0</h2>
                            <i class="ri-user-unfollow-fill"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="technician-container">
                {% for technicians in technicians %}
                <div class="technicians">
                    <img src="{% static 'header icons/person-removebg-preview.png'%}" alt="person-icon">
                    <h4>{{technicians.name}}</h4>
                    <p>Profession</p>
                    <h3>{{technicians.role}}</h3>
                    <p>Email</p>
                    <h3>{{technicians.email}}</h3>
                    <p>Phone</p>
                    <h3>{{technicians.contact}}</h3>
                    <div class="status-indicator-wrapper">
                        <span>{{technicians.status}}</span>
                        {% if technicians.status == "available" %}
                            <span class="status-ball available"></span>
                        {% else %}
                            <span class="status-ball unavailable"></span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </main>
</body>
</html>